
@{
    ViewData["Title"] = "Browse";
}


<div class="container body-content">
    <h2>Browse Events</h2>

    <p>Search by Title, Description, Location, and Date:</p>
    <input class="form-control" id="srchInput" type="text" placeholder="Search..">
    <br>
    <div class="panel panel-default todo-panel">
        <div class="panel-heading">Latest Events</div>
        <div class="table-responsive">
            <table style="width: 100%;" class="table table-hover table-striped table-bordered" id="browseData">
                <thead>
                    <tr>
                        <td>Title:</td>
                        <td>Description:</td>
                        <td>Location:</td>
                        <td>Date:</td>
                    </tr>
                </thead>
                <tbody id="srchTable">
                    <!-- Begin Test Table Entries-->
                    <tr>
                        <td>Birthday</td>
                        <td>We're having a party.</td>
                        <td>Eric's House</td>
                        <td>May 12th, 2018</td>
                    </tr>
                    <tr>
                        <td>Conference</td>
                        <td>We're having a conference.</td>
                        <td>NHTI</td>
                        <td>May 24th, 2018</td>
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td>We're having a cool party.</td>
                        <td>Eric's House</td>
                        <td>June 2nd, 2018</td>
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td>We're having a cool party.</td>
                        <td>Eric's House</td>
                        <td>June 2nd, 2018</td>
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td>We're having a cool party.</td>
                        <td>Eric's House</td>
                        <td>June 2nd, 2018</td>
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td>We're having a cool party.</td>
                        <td>Eric's House</td>
                        <td>June 2nd, 2018</td>
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td>We're having a cool party.</td>
                        <td>Eric's House</td>
                        <td>June 2nd, 2018</td>
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td>We're having a cool party.</td>
                        <td>Eric's House</td>
                        <td>June 2nd, 2018</td>
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td>We're having a cool party.</td>
                        <td>Eric's House</td>
                        <td>June 2nd, 2018</td>
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td>We're having a cool party.</td>
                        <td>Eric's House</td>
                        <td>June 2nd, 2018</td>
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td>We're having a cool party.</td>
                        <td>Eric's House</td>
                        <td>June 2nd, 2018</td>
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td>We're having a cool party.</td>
                        <td>Eric's House</td>
                        <td>June 2nd, 2018</td>
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td>We're having a cool party.</td>
                        <td>Eric's House</td>
                        <td>June 2nd, 2018</td>
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td>We're having a cool party.</td>
                        <td>Eric's House</td>
                        <td>June 2nd, 2018</td>
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td>We're having a cool party.</td>
                        <td>Eric's House</td>
                        <td>June 2nd, 2018</td>
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td>We're having a cool party.</td>
                        <td>Eric's House</td>
                        <td>June 2nd, 2018</td>
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td>We're having a cool party.</td>
                        <td>Eric's House</td>
                        <td>June 2nd, 2018</td>
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td>We're having a cool party.</td>
                        <td>Eric's House</td>
                        <td>June 2nd, 2018</td>
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td>We're having a cool party.</td>
                        <td>Eric's House</td>
                        <td>June 2nd, 2018</td>
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td>We're having a cool party.</td>
                        <td>Eric's House</td>
                        <td>June 2nd, 2018</td>
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td>We're having a cool party.</td>
                        <td>Eric's House</td>
                        <td>June 2nd, 2018</td>
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td>We're having a cool party.</td>
                        <td>Eric's House</td>
                        <td>June 2nd, 2018</td>
                    </tr>
                    <!-- End Test Table Entries-->
                </tbody>
            </table>
        </div>

        <div class="panel-footer">
        </div>
    </div>
</div>

