@{
    ViewData["Title"] = "Event";
    Event item = ViewData["Event"] as Event;
    string alreadyAttending = ViewData["Attending"] as string;
}


<div class="body-content container">

    <!-- Validates if you have already signed for event-->
    @if (alreadyAttending.Equals("false"))
    {
        <h1>Thanks for signing up to attend '@item.Title'!</h1>
    }
    else
    {
        <h1>You were already signed up to attend '@item.Title'!</h1>
    }

</div>

