@model NewEvent

@{
    ViewData["Title"] = "Create";

    IEnumerable<ApplicationUser> users = ViewData["Users"] as IEnumerable<ApplicationUser>;
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="container body-content">
        <div class="row">
            <div class="col-sm-9">
                <h2>Create an Event</h2>
                <hr />
                <!-- Begin Event Form -->
                <form asp-action="Event" method="post">
                    <div class="form-group">
                        <label asp-for="Owner" class="hidden">Owner ID:</label>
                        <input asp-for="Owner" class="form-control hidden" value="@UserManager.GetUserName(User)">
                    </div>
                    <div class="form-group">
                        <label asp-for="Title" for="title">Title:</label>
                        <input asp-for="Title" type="text" class="form-control" id="title" placeholder="Enter title" maxlength="60">
                    </div>

                    <div class="form-group">
                        <label asp-for="Description" for="desc">Description:</label>
                        <textarea asp-for="Description" type="text" class="form-control" id="desc" rows="2" placeholder="Enter description" maxlength="200"></textarea>
                    </div>

                    <div class="form-check">
                        <label class="form-check-label">
                            <input asp-for="IsPrivate" type="checkbox" class="form-check-input">
                            Private
                        </label>
                        <small>This decides whether your event will be private or public to GEM users.</small>
                    </div>

                    <div class="form-group">
                        <label asp-for="Location" for="location">Location:</label>
                        <input asp-for="Location" type="text" class="form-control" id="location" placeholder="Enter location" maxlength="60">
                    </div>

                    <label for="date">Date and Time:</label>
                    <div class='input-group date' id='datetimepicker1'>
                        <input asp-for="DateAndTime" type='datetime-local' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>

                    <br />
                    <div class="form-group">
                        <label for="attendees">Add Attendees:</label><small>Ctrl + Click to select multiple attendees</small>
                        <select multiple asp-for="Attendees" type="string" class="form-control" id="sel1">
                            @foreach (ApplicationUser item in users) //Populating selection list of users to choose from
                            {
                                @if (item.Id != UserManager.GetUserId(User))
                                {
                                    <option>@item.Email</option>
                                }
                            }
                        </select>
                    </div>

                    <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
                </form>
                <!-- End Event Form -->
                <br />
                <a href="/"><button class="btn btn-secondary">Cancel</button></a>
            </div>
            <div class="col-sm-3">
                <!-- Container to put anything here if need be -->
            </div>
        </div>
    </div>
}

