@model EventViewModel

@{
    ViewData["Title"] = "Home Page";
    int i = 0;
}

<div class="jumbotron light-blue">
    <div class="container body-content">
        <h1>GEM</h1>
        <p class="lead">Your Favorite Event Management Tool</p>
        <p><a href="" class="btn btn-primary btn-lg">Browse &raquo;</a></p>
    </div>
</div>

<div class="container body-content">
    <div class="panel panel-default todo-panel">
        <div class="panel-heading">Latest Events</div>

        <div class="table-responsive">
            <table style="width: 100%" class="table table-hover table-striped">
                <thead>
                    <tr>
                        <td>Date:</td>
                        <td>Title</td>
                        <td>Description</td>
                        <td>Location</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Events)
                    {
                        if (i < 10)
                        {
                        <tr>
                            <td>@item.DateAndTime</td>
                            <td>@item.Title</td>
                            <td>@item.Description</td>
                            <td>@item.Location</td>
                        </tr>

                        }
                        i++;
                    }
                </tbody>
            </table>
        </div>

        <div class="panel-footer">
        </div>
    </div>
</div>
